# editor stuff
/.vscode/

# dev stuff
.babelrc
.editorconfig
.env.test.example
.env.test.jenkins
.prettierignore
.prettierrc
tsconfig.json
tslint.json
webpack.e2e.test.config.js
yarn-error.log
yarn.lock
/scripts/

# everything else
/config/
/db/
/src/
